*{
      font-family: 'Arial', sans-serif ;

}
.container-fluid {
background: linear-gradient(to top,  #3e4539,#97a58a);
height: 20vh;
}

.col {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FDF6EC;
}