*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;

}
h3{
    text-align: center;
}
p{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}
.encabezadoTemporizador{
    
}
.encabezadoTemporizador li{
    width: 20%;
    text-align: center;
     font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.temporizador{
    background-color: rgb(255, 255, 255);
    color:#000000;

}
.temporizador li{
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #000000;
     font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-align: center;
        width: 10%;
        padding: 1rem 0;
    text-align: center;
}
@media (max-width: 550px) {

.temporizador li{
    width: 25%;
    padding: 0%;

}
.temporizador{
    justify-content: center;
    flex-wrap: nowrap;
}
.encabezadoTemporizador li{
  width: 25%;
    
}
.encabezadoTemporizador{
    justify-content: space-between;
}
}
