
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: palegoldenrod;
  font-family: sans-serif;
}

.container {
  position: relative;
  width: 300px;
  height: 30vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.envelope {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #02351d;
  overflow: hidden;
  z-index: 10;
}

/* Tapa del sobre */
.tapa {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  width: 100%;
  height: 60%;
  z-index: 12;
}
.tapa .subtapa2{
  width: 50%;
  height: 100%;
    background: linear-gradient(45deg, #115514 50%, transparent 50%);
  transform: rotateZ(180deg);


}
.tapa .subtapa1{
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, #115514 50%, transparent 50%);
  transform: rotateX(180deg);
}
/* Carta */
.letter {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

}

/* Imagen dentro de la carta */
.letter img {
  width: 90%;
  border-radius: 4px;
}

/* Estados activos */


.container.open .tapa {
  display: flex;
bottom: -50%;
animation: abrirtapa 0.8s ease forwards;
z-index: 4;
}
.container.open .envelope{
z-index: 6;
}
.container.open .letter {
  display: flex;
  animation: salirDelSobre 6s ease forwards;
  z-index: 5;
}
.container.close .letter {
display: none;}

@keyframes abrirtapa {
  0% {
    transform:translateY(0) rotatex(0);
  }
  100%{
    transform: translateY(-100%) rotatex(180deg);
  }
}
@keyframes salirDelSobre {
  0% {
    transform: translateY(0px);
    opacity: 1;
    width: 10%;
    height: 10%;
  }

  50% {
    transform: translateY(-370px) rotatey(180deg);
    width: 10%;
  }

  100% {
    transform: translateY(-5%);
    opacity: 1;
    width: 100%;
    z-index: 7;
  }
}

.destinatario{
  position: relative;
  top: -10%;
  width: 100% ;
  height: 90vh;
  color: rgb(124, 21, 21);
}
a{
position: absolute;
top: auto;
left: auto;
top: 100%;
width: auto;
padding: 1rem;
height: auto;
background-color: #E3B04B;
color: aliceblue;
list-style: none;
border-radius: 5px;
margin-top: 1rem;
}
