*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    
}
.col{
    height: 100%;
}
.row{
    height: 100%;
}
.salon {
  background-color: #f1d9c9;
    border: 1px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(7, 14.2%);
    /* 4 columnas */
    grid-template-rows: repeat(5, 20%);
    /* 3 filas */
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    grid-template-areas:
        "   .      candy   .    mesaPrincipal     .      .      ."
        "  .        mes6   col1      .            col2   mes1   ."
        "   .       .      mes5      .            mes4   .     mes2"
        "  .        mes7   col3      .            col4   mes3   ."
        "puertachica .     .     puertagrande     .      .      ."
}


.columnas {
    border: 1px solid rgb(0, 0, 0);
    height: 50%;
    width: 25%;
    background-color: rgb(0, 0, 0);
    border-radius:  10px; ;
}

.mesa {
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mesa img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}
.mesaPrincipal {
    width: 100%;
    height: 100%;
    grid-area: mesaPrincipal;
    position: relative;
}
.mesaPrincipalImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 0%;
}
.candy {
    width: 100%;
    height: 100%;
    grid-area: candy;
    position: relative;
}
.candy img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    padding: 0%;
}   

.puertagrande {
    width: 200%;
    height: 70%;
    grid-area: puertagrande;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    justify-self: center;
}

.puertagrande>div {
    width: 50%;
    height: 100%;
    ;
}

.puertaIzquierda {
    border: 1px solid rgb(0, 0, 0);
    border-right: dashed;
    border-top:1px dashed black ;
    border-top-right-radius: 100%;
    margin-left: 5px;
}

.puertaDerecha {
    border: 1px solid rgb(0, 0, 0);
    border-left:dashed  ;
    border-top:1px dashed black ;
    border-top-left-radius: 100%;
}

.puertachica {
    
    width: 100%;
    height: 70%;
    grid-area: puertachica;
    align-self: flex-end;
}

.col1 {
    grid-area: col1;
    justify-self: center;
}

.col2 {
    grid-area: col2;
    justify-self: center;
}

.col3 {
    grid-area: col3;
    justify-self: center;
    align-self: flex-start;
}

.col4 {
    grid-area: col4;
    justify-self: center;
}

.mes1 {
    grid-area: mes1;
    justify-self: start;
   
}
.mes1::before{
    content: "1";
    color: #f1d9c9;
    background-color:transparent;  
    z-index: 11;


}
.mes2::before{
    content: "2";
   color: #f1d9c9;
    background-color:transparent;  
    z-index: 11;
}
.mes3::before{
    content: "3";
     color: #f1d9c9;
    background-color:transparent;  
    z-index: 11;
}
.mes4::before{
    content: "4";
     color: #f1d9c9;
    background-color:transparent;  
    z-index: 11;
}
.mes5::before{
    content: "5";
      color: #f1d9c9;
    background-color:transparent;  
    z-index: 11;
}
.mes6::before{
    content: "6";
    color: #f1d9c9;
    background-color:transparent;  
    z-index: 11;
}
.mes7::before{
    content: "7";
     color: #f1d9c9;
    background-color:transparent;  
    z-index: 11;
}
.mes2 {
    grid-area: mes2;
    justify-self: start;
}
.pulso{
    background-color: rgba(53, 145, 64, 0.476);
    border-radius: 100%;
    animation: pulse 1s infinite;
}
 @keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(7, 7, 7, 0.7);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(215, 50, 50, 0);
  }
}

.mes3 {
    grid-area: mes3;
    justify-self: start;
}

.mes4 {
    grid-area: mes4;
    justify-self: end;
}

.mes5 {
    grid-area: mes5;
}

.mes6 {
    grid-area: mes6;
    justify-self: center;
}

.mes7 {
    grid-area: mes7;
    justify-self: center;
}
.cartel{
    position: absolute;
    background-color: rgb(118, 160, 111);
    color: #f1d9c9;
    z-index: 20;
    max-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 1rem  1rem;
    overflow: scroll;
     opacity: 0;
  transform: scale(2.8);
  animation: aparecer 1s ease-out forwards;
    
}

.cartel h5{
    margin-top: 0;
    color: black;
    
}
.cartel ul{
    height:auto;
    width: auto;
    list-style: none;
    padding: 0;
    overflow: auto;
}
.cartel li{
}

.cartel button{
    height: 10%;
    width: 50%;
}

@media(min-width: 250px)and (max-width: 550px){
  
   .mesa{
    height: 40% !important;
   }
   .puertachica{
    height: 30% !important;
   align-self: flex-end;
   }
   .puertagrande{
    height: 50% !important;
    align-self: flex-end;
   }
   .mesaPrincipal{
    height: 50% !important;
   }
    .candy{
     height: 50% !important;
    }
    .columnas{
        height: 30% !important;
        width: 50% !important;
        align-self: center;
    }
    .cartel{
    height:auto;
}
.cartel button{
    height: auto;
    width: 80%;
}
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(-10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}