.navbar {
  background-color: #2F4F4F;
  padding: 10px 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  height: 10vh;
}

.nav-link {
  text-decoration: none;
  color: #FDF6EC;
  font-weight: 600;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #C6A15B;
  border-bottom: 2px solid #C6A15B;
}
