.navbar {
  background-color: #2F4F4F;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  height: 10vh;
}

.nav-link {
  text-decoration: none;
  color: #FDF6EC;
  font-weight: 600;
  transition: color 0.3s;
 
}

.nav-link:hover,
.nav-link.active {
  color: #C6A15B;
  border-bottom: 2px solid #C6A15B;
}
.asistencia {
  font-size: 1.1rem;
  font-weight: bold;
  color: #7d6b05; /* Color dorado para destacar */
  background-color: #FDF6EC; /* Fondo oscuro para contraste */
  padding: 5px ;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .navbar {
    
  }

  .nav-link {
  }
}