.navbar {
background: linear-gradient(to top,  #3e4539,#97a58a);
  
  display: flex;
  gap: 10px;
  justify-content: space-around;
  font-family: 'Arial', sans-serif ;
  height: 10vh;
}

.nav-link {
  text-decoration: none;
  color: #FDF6EC;
  font-weight: 600;
  transition: color 0.3s;
    font-family: 'Arial', sans-serif ;

}

.nav-link:hover,
.nav-link.active {
  color: #C6A15B;
  border-bottom: 2px solid #C6A15B;
}
.asistencia {
 
}
@media (max-width: 300px) {
  .navbar {
  
  }

  .nav-link {
     
  }
}