*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #FDF6EC;
    height: 80vh;
    padding: 0%;
    margin: 0;
      background-color: #e6e5da;

}
h1{
    text-decoration: underline;
}
p{
    text-align: center;
}
span{
    text-align: center;
     font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}