/* Estilo general */
body {
  font-family: 'Georgia', serif;
  background-color: #E6E5DA;
  color: #4a2e2a;
  margin: 0;
  padding: 0;
}
.container {

  padding:0;
}

.seccion {
  background-color: #E6E5DA;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3 {
  color: #313131;
  margin-bottom: 20px;
  font-family: "Pinyon Script", cursive;
  font-weight: bold;
  font-style: normal; 
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

input, select, textarea {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

button {
  background-color: #a86e3c;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #87592f;
}

.mapa-container {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Responsive */
@media (max-width: 600px) {
  .seccion {
  }

  input, select, textarea {
    width: 100%;
  }
}
