/* Estilo general */
body {
  font-family: 'Georgia', serif;
  background-color: #FDF6EC;
  color: #4a2e2a;
  margin: 0;
  padding: 0;
}

.container-fluid {
  position: relative;
  padding:0;
  height: 80vh;
  overflow-x:hidden;
}
.contenedor-de-estrellass {
  position: fixed;
  width: 100%;
  height: 80vh;
  pointer-events: none;
}

.contenedor-de-estrellass img{
opacity: .07;
position: absolute;
width: 100%;
height: 100%;
}

.seccion {
   font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #e6e5da;
  padding: 40px 20px;
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3 {
  z-index: 10000;
  position: relative;
  color: #2F4F4F;
  margin-bottom: 20px;
  font-family: "Pinyon Script", cursive;
  font-weight: bold;
  font-style: normal; 
}
p{
  z-index: 10000;
  position: relative;
}
ul {
  z-index: 10000;
  position: relative;
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

input, select, textarea {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border: 1px solid #C6A15B;
  border-radius: 8px;
  font-size: 1em;
}

button {
  background-color: #a86e3c;
  color: #C6A15B;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #C6A15B;
}

.mapa-container {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.imgColores{
  position: relative;
  width:auto;
  height: 10vh;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
background: linear-gradient(to top,  #3e4539,#97a58a);
  z-index: 102000;
  justify-self: center;
  border-radius: 8px;
  padding: 10px;
}
.imgColores .blanco,.verde,.naranja{
  width: 30%;
  height: 90%;
  background-color: #2F4F4F;
  border-radius:100%;
  margin: auto;
  text-align: center;
  

} 
.imgColores .blanco span ,.verde span , .naranja span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}
.imgColores .blanco{
  background-color: #FFFFFF;
}
.imgColores .verde{
  background-color: #688828
}
.imgColores .naranja{
  background-color: #e76100;
}
/* Responsive */
@media (max-width: 750px) {
  .seccion {
  }

  input, select, textarea {
    width: 100%;
  }
  .imgColores{
    position: relative;
  width: 100%;
 
}
}

