*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
.col{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0%;
    height: 100%;
}
.row{
    height: 100%;
}
.container {
  border: 1px solid rgb(0, 0, 0);
    height: 80vh;
    margin: auto;
  background-color: #e6e5da;
}
.a{
    height: 100%;
}
.btn{
    background-color: #E3B04B;
    color: white;
    border: none;
    align-self: center;
    margin: .5rem;   
    padding: .5rem 0.5rem;
}