* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

/* Contenedor principal */
.container {
  height: 80vh;
  width: 100%;
  margin: auto;
 overflow:auto;
  display: flex;
  justify-content: center;
    background-color: #e6e5da;

}

/* Columna */
.col {
  width: 100%;
  max-width: 700px;
}

/* Títulos */
.titulo-principal {
  text-align: center;
  color: #2F4F4F;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.subtitulo {
  text-align: center;
  color: #938716;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  background-color: #e6e5da;
}

/* Fondo de la lista */
.regalos-lista {
  background-color: #e6e5da;
  padding: 2rem;
  border-radius: 16px;
}

/* Lista de regalos */
.lista-regalos {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul{
  background-color: #e6e5da;
}

/* Cada item de regalo */
.lista-regalos li {
  background: #fff;
  border: 2px solid #287624; /* verde agua */
  border-radius: 12px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
  box-shadow: 0 6px 12px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: all 0.3s ease;

  /* Animación inicial */
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

/* Hover */
.lista-regalos li:hover {
  background: #f0fff9;
  border-color: #ffd700; /* dorado */
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}
h6{
  text-align: center;
  margin-bottom: 1rem;
  background-color: #fcfcfc;
  font-size: smaller;
}
/* Animación de entrada */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Delay para cada li */
.lista-regalos li:nth-child(1) { animation-delay: 0.1s; }
.lista-regalos li:nth-child(2) { animation-delay: 0.2s; }
.lista-regalos li:nth-child(3) { animation-delay: 0.3s; }
.lista-regalos li:nth-child(4) { animation-delay: 0.4s; }
.lista-regalos li:nth-child(5) { animation-delay: 0.5s; }
.lista-regalos li:nth-child(7) { animation-delay: 0.6s; }
.lista-regalos li:nth-child(8) { animation-delay: 0.7s; }
.lista-regalos li:nth-child(9) { animation-delay: 0.8s; }
.lista-regalos li:nth-child(10) { animation-delay:0.9s; }
.lista-regalos li:nth-child(11) { animation-delay: 0.9s; }

/* Responsivo */
@media (max-width: 768px) {
  .titulo-principal {
    font-size: 2rem;
  }
  .subtitulo {
    font-size: 1.3rem;
  }
  .lista-regalos li {
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }
}
