h1, h2, h3 {
  color: #a86e3c;
  margin-bottom: 20px;
}
p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.container{
 height: 80vh;
 overflow: auto;
background-color: #FDF6EC;
}

/* Responsive */
@media (max-width: 600px) {
  .seccion {
    padding: 20px 10px;
  }

  input, select, textarea {
    width: 100%;
  }
}
