/* Estilo general */
body {
  font-family: 'Georgia', serif;
  background-color: #fff8f0;
  color: #4a2e2a;
  margin: 0;
  padding: 0;
}

.seccion {
  padding: 40px 20px;
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
}

h1, h2, h3 {
  color: #a86e3c;
  margin-bottom: 20px;
}
p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
}



.mapa-container {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.container{
 border: 5px solid #a86e3c;
 height: 90vh;
 overflow: auto;
}

/* Responsive */
@media (max-width: 600px) {
  .seccion {
    padding: 20px 10px;
  }

  input, select, textarea {
    width: 100%;
  }
}
